

@{

    ViewBag.Title = "注册";
}
@section Styles {
    <link href="~/Content/Register.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/Register.js"></script>
}

<div class="register-box">
    <h2>注册</h2>
    <form action="#" id="register-form">
        <div class="user-box">
            <input type="text" name="username" required>
            <label>用户名</label>
        </div>
        <div class="user-box">
            <input type="email" name="email" required>
            <label>邮箱</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required>
            <label>密码</label>
        </div>
        <div class="user-box">
            <input type="password" name="confirm-password" required>
            <label>确认密码</label>
        </div>
        <button type="submit">注册</button>
        <div class="links">
            <a href="@Url.Action("LoginIndex","Login")">返回登录</a>
        </div>
    </form>
</div>