@{
    ViewBag.Title = "首页";
}
@section Styles {
    <link href="~/Content/Index.css" rel="stylesheet" />
}
<main>
    <div class="Index-container back_img">
        <div class="img-container">
            <button id="left" class="slider-button slider-left">←</button>
            <img src="" alt="首页" />
            <button id="right" class="slider-button slider-right">→</button>
        </div>
    </div>

    <div class="back-contain history-contain">
        <div class="base-box base-title">
            人物风云：
        </div>
    </div>

    <div class="base-box">
        <div class="">

        </div>
    </div>



    <div class="music-title-contain back-contain">
        <div class="music-text base-title">
            盗版音乐：
        </div>
    </div>

    <div class="music-contain">
        <div class="music-Box">
            @for (int i = 0; i < 9; i++)
            {
                <div class="music-itemBox">
                    j
                </div>
            }
        </div>
    </div>

    <div class="back-contain history-contain">
        <div class="base-box base-title">
            学习版游戏：
        </div>
    </div>
</main>
@section Scripts {
    <script src="~/Scripts/Index.js"></script>
}